{:deps {scicloj/scicloj.ml              {:mvn/version "0.2.1"}
        scicloj/scicloj.ml.smile        {:mvn/version "7.0.614"}
        clj-python/libpython-clj        {:mvn/version "2.019"}
        io.github.nextjournal/clerk     {:mvn/version "0.10.562"}
        ;; :local/root "../libpython-clj/"


        datacraft-sciences/confuse      {:git/url "https://github.com/datacraft-sciences/confuse.git"
                                         :sha "2ac9759aad7ba7c00109942920f8e8531e2e4b4f"}

        org.apache.arrow/arrow-vector   {:mvn/version "6.0.0"}
        org.lz4/lz4-java                {:mvn/version "1.8.0"}
        net.java.dev.jna/jna            {:mvn/version  "5.10.0"}
        com.github.luben/zstd-jni       {:mvn/version "1.5.1-1"}
        clj-commons/clj-yaml            {:mvn/version "0.7.109"}}}

 
